body{
    margin:0;
    padding:50px;
    background-color: rgb(197, 83, 83);
}
form{
    background-color:aliceblue;
    padding:30px;
    border:1px solid rgb(201, 112, 112);
    border-radius:2%;
}

.col-md-4 > input {
    border-radius: 8px;
    padding: 10px;
}

ul{
    list-style: none;
}